@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 20px;
	font-family: monospace;
	--transition-speed: 300ms;
	--transition-speed-slow: 100ms;
}

:global(body)::-webkit-scrollbar {
	width: 0.25rem;
}

:global(body)::-webkit-scrollbar-thumb {
	background-color: rgb(97, 37, 154);
}

:global(body)::-webkit-scrollbar-track {
	background-color: #141418;
}

:global(html),
:global(body) {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'monospace', sans-serif;
}

.dotted-bg {
    background-size: 20px 20px;
    background-image: radial-gradient(circle, #ffffff25 1px, rgba(255, 255, 255, 0) 1px);
    background-attachment: fixed;
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: rgb(37, 37, 37);
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #ffffff;
		border-radius: 100vh;
		/* border: 3px solid #f6f7ed; */
	}
}
